<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/apple-touch-icon-60x60.png">
    <style>@font-face{font-family: myFirstFont; src:url(../Quicksand-Regular.otf);}div{font-family: myFirstFont;}</style>
</head>
<body id="admin_wrap">
    <h1>Admin Page !</h1><br>
    <!--Top 10 Companies-->
    <form method="post" action="./comp_sql_querys.php?func=17" style="width:40%;background-color:lightgrey;border-width: thin;border-style: solid " >
        <div class="adminForm">
            <h3>Top 10 Companies</h3>
            <div class="form-group" id="comp">
                <script>
                    if (window.XMLHttpRequest) // code for IE7+, Firefox, Chrome, Opera, Safari
                        xmlhttp = new XMLHttpRequest();
                    else // code for IE6, IE5
                        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");

                    xmlhttp.onreadystatechange = function (){
                        if (xmlhttp.readyState == 4 && xmlhttp.status == 200)
                            document.getElementById("comp").innerHTML = xmlhttp.responseText;
                    };
                    xmlhttp.open("GET", "comp_sql_querys.php?q=" + id + "&func=" + "17", true);
                    xmlhttp.send();
                </script>
            </div>
        </div><br>
    </form><br>
    <!--Top 10 Student-->
    <form method="post" action="./comp_sql_querys.php?func=18" style="width:40%;background-color:lightgrey;border-width: thin;border-style: solid " >
        <div class="adminForm">
            <h3>Top 10 Students</h3>
            <div class="form-group" id="stud">
                <script>
                    if (window.XMLHttpRequest) // code for IE7+, Firefox, Chrome, Opera, Safari
                        xmlhttp = new XMLHttpRequest();
                    else // code for IE6, IE5
                        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");

                    xmlhttp.onreadystatechange = function (){
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200)
                        document.getElementById("stud").innerHTML = xmlhttp.responseText;
                    };
                    xmlhttp.open("GET", "comp_sql_querys.php?q=" + id + "&func=" + "18", true);
                    xmlhttp.send();
                </script>
            </div>
        </div><br>
    </form><br>


    <!-- List all companys -->
         <form method="post" action="./comp_sql_querys.php?func=7" style="width:40%;background-color:lightgrey;border-width: thin;border-style: solid " >
             <div class="adminForm">
                <h3>List all Companys </h3>
                <div class="form-group" >
                    <button type="submit" name = "submit" class="login-button">Show</button>
                </div>
             </div><br>
        </form><br>

    <!-- ADD a new company -->
         <form method="post" action="./comp_sql_querys.php?func=5" style="width:40%;background-color:lightgrey;border-width: thin;border-style: solid " >
            <div class="adminForm">
            <h3>Add a new company</h3>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="User name" id="user_new" name="username" >
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="E-Mail" id="mail_new" name="e_mail" >
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="pass_new" placeholder="Password" name="password" >
                </div>
        <button type="submit" name = "submit" class="login-button">Add</button>
    </div><br>
    </form><br>
    <!-- Remove company -->
        <form method="post" action="./comp_sql_querys.php?func=6" style="width:40%;background-color:lightgrey;border-width: thin;border-style: solid " >
            <div class="adminForm">
                <h3>Remove Company by id </h3>
                <div class="form-group">
                    <input type="number" min="0" class="form-control" placeholder="Company's id" id="row_id" name="row_id" >
                </div>
                <button type="submit" name = "submit" class="login-button">Remove</button>
            </div><br>
        </form><br>

    <!-- Reset company password-->
         <form method="post" action="./comp_sql_querys.php?func=12" style="width:40%;background-color:lightgrey;border-width: thin;border-style: solid " >
            <h3>Reset password </h3>
             <div class="adminForm">
                 <div class="form-group">
                    <input type="number" min="0" class="form-control" placeholder="Company's id" id="row_id_reset" name="row_id" >
                 </div>
                 <div class="form-group">
                     <input type="number" min="0" class="form-control" id="new_pass" placeholder="Password" name="row_id" >
                 </div>
                <button type="submit" name = "submit" class="login-button">Reset</button>
             </div><br>
         </form><br>
    <!-- List all Students -->
        <form method="post" action="./comp_sql_querys.php?func=13" style="width:40%;background-color:lightgrey;border-width: thin;border-style: solid " >
            <div class="adminForm">
                <h3>List all Students </h3>
                <div class="form-group" >
                    <button type="submit" name = "submit" class="login-button">Show</button>
                </div><br>
            </div><br>
        </form>

    <!-- Remove Student -->
        <form method="post" action="./comp_sql_querys.php?func=14" style="width:40%;background-color:lightgrey;border-width: thin;border-style: solid " >
            <div class="adminForm">
                <h3>Remove Student by id </h3>
                <div class="form-group" >
                    <input type="number" min="0" class="form-control" id="student_id" placeholder="Student's id " name="student_id" >
                </div>
                <button type="submit" name = "submit" class="login-button">Remove</button>
            </div><br>
        </form><br>

    <!-- Update Student activation-->
        <form method="post" action="./comp_sql_querys.php?func=15" style="width:40%;background-color:lightgrey;border-width: thin;border-style: solid " >
            <div class="adminForm">
                <h3>Update Student activation </h3>
                <div class="form-group" >
                    <input type="number" min="0" class="form-control" id="std_id" placeholder="Student's id " name="std_id" >
                </div>
                <div class="form-group" >
                    <label for="std_id">Student's id : </label>
                    <select name="state_op">
                        <option value="0">suspended</option>
                        <option value="1" selected="selected" >Activated</option>
                    </select>
                </div>
                <button type="submit" name = "submit" class="login-button">Update</button>
            </div><br>
        </form><br>
    <!-- ADD new skill-->
        <form method="post" action="./comp_sql_querys.php?func=16" style="width:40%;background-color:lightgrey;border-width: thin;border-style: solid " >
            <div class="adminForm">
                <h3>Add a new skill to list </h3>
                <div class="form-group" >
                    <input type="text" min="0" class="form-control" id="skill_name" placeholder="Skills name " name="skill_name" >
                </div>
                <button type="submit" name = "submit" class="login-button">Update</button>
            </div><br>
        </form><br>

</body>
</html>