<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
    <h1>Admin Page !</h1>
        <br><br>
    <!-- ADD a new company -->
    <form method="post" action="../comp_sql_querys.php?func=5" style="width:40%;background-color:lightgrey;border-width: thin;border-style: solid " >
        <h3>Add a new company</h3>
        <p>
            <label for="user_new">Name : </label>
            <input type="text" name="username" id="user_new">
        </p>

        <p>
            <label for="mail_new">Email : </label>
            <input type="email" name="e_mail" id="mail_new">
        </p>
        <p>
            <label for="pass_new">Password: </label>
            <input type="password" name="password" id="pass_new">
        </p>
        <button type="submit" name = "submit" class="login-button">Login</button>
    </form>
    <br><br>
    <!-- Remove company -->
    <form method="post" action="../comp_sql_querys.php?func=6" style="width:40%;background-color:lightgrey;border-width: thin;border-style: solid " >
        <h3>Remove Company by id </h3>
        <p>
            <label for="row_id">Company's id : </label>
            <input type="number" min="0" name="row_id" id="row_id">
        </p>
        <button type="submit" name = "submit" class="login-button">Login</button>
    </form>
    <br><br>
    <!-- Reset company password-->
    <form method="post" action="../comp_sql_querys.php?func=12" style="width:40%;background-color:lightgrey;border-width: thin;border-style: solid " >
        <h3>Reset password </h3>
        <p>
            <label for="row_id_reset">Company's id : </label>
            <input type="number" min="0" name="row_id" id="row_id_reset">
        </p>
        <p>
            <label for="new_pass">New Password : </label>
            <input type="number" min="0" name="row_id" id="new_pass">
        </p>
        <button type="submit" name = "submit" class="login-button">Login</button>
    </form>
    <br><br>
    <!-- List all companys -->
    <form method="post" action="../comp_sql_querys.php?func=7" style="width:40%;background-color:lightgrey;border-width: thin;border-style: solid " >
        <h3>List all Companys </h3>
        <button type="submit" name = "submit" class="login-button">Login</button>
    </form>
    <br><br>
    <!-- List all Students -->
    <form method="post" action="../comp_sql_querys.php?func=13" style="width:40%;background-color:lightgrey;border-width: thin;border-style: solid " >
        <h3>List all Students </h3>
        <button type="submit" name = "submit" class="login-button">Login</button>
    </form>
    <br><br>
    <!-- Remove Student -->
    <form method="post" action="../comp_sql_querys.php?func=14" style="width:40%;background-color:lightgrey;border-width: thin;border-style: solid " >
        <h3>Remove Student by id </h3>
        <p>
            <label for="student_id">Student's id : </label>
            <input type="number" min="0" name="student_id" id="student_id">
        </p>
        <button type="submit" name = "submit" class="login-button">Login</button>
    </form>
</body>
</html>