<!--****************************************************************************
********************************************************************************
********************************************************************************
*****************************404 Page-HTML**************************************
********************************************************************************
********************************************************************************
*****************************************************************************-->
<html>
<head>
    <link rel="stylesheet" href="../css/main.css">
    <style>@font-face{font-family: myFirstFont; src:url(../Quicksand-Regular.otf);}div{font-family: myFirstFont;}</style>
</head>
<body id = "unsupported_browser" >

    <div id ="head_line_b">We Love You!<br>
        <div id ="sec_head_line_b">But alas, not your browser.</div></div><br><br>
        <div class="lead">Your Browser is Unsupported by our site.<br><br>

        Please Try Again In Googel's Chrome Browser <img src ="../img/chrome_icon.png" width="30px" height="30px">.
            <br><br>
            for Download, Just click <a href="https://www.google.com/chrome/browser/desktop"> HERE </a>.

        </div>




</body>


</html>




