<!--****************************************************************************
********************************************************************************
********************************************************************************
*****************************About Us Page**************************************
********************************************************************************
********************************************************************************
*****************************************************************************-->

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">About
                <small>It's Nice to Meet You!</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../V0.1/#/main">Home</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>

    </div>
    <div class="row">

        <div class="col-md-6">
            <img class="img-responsive" id="activec_about_logo" src="img/logo.png">
        </div>
        <div class="col-md-6">



            <h2> ActiveC</h2>
            <p>MadeinJLM is a community-based non for profit organization, established in 2012 by Hanan Brand, Roy Munin and Uriel Shuraki.
                Our main goal is connecting, growing and empowering Jerusalem's startup and tech community.</p>

            <p>With our partners and volunteers, we make sure that no one is left alone,
                and enable the thousands of entrepreneurs and more than 500 startups innovating in the city,
                the opportunity to contribute, connect, participate in events, find jobs,
                partners and mentors, and become an integral part of one of the most connected and most supportive tech communities in the world,
                a city that has been innovating for the last 3000 years.</p>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <img class="img-responsive" id="madeinJlm_about_logo" src="img/madinJlm_logo.png">
        </div>
        <div class="col-md-6">



            <h2>MadeinJlm </h2>
            <p>MadeinJLM is a community-based non for profit organization, established in 2012 by Hanan Brand, Roy Munin and Uriel Shuraki.
                Our main goal is connecting, growing and empowering Jerusalem's startup and tech community.</p>

            <p>With our partners and volunteers, we make sure that no one is left alone,
                and enable the thousands of entrepreneurs and more than 500 startups innovating in the city,
                the opportunity to contribute, connect, participate in events, find jobs,
                partners and mentors, and become an integral part of one of the most connected and most supportive tech communities in the world,
                a city that has been innovating for the last 3000 years.</p>
        </div>

    </div>

    <!-- Team Member Profiles -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive-team" src="img/David.jpg">

            <h3>David Ohayon
                <small>Co-CEO</small>
            </h3>
            <p>David is 24-year-old,He likes to programing from young age,David is first mind creators.</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/ohayon109?fref=ts&__mref=message_bubble" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fil.linkedin.com%2Fin%2Fdavid-ohayon-9317b076&h=4AQH3Hxcl" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="https://twitter.com/boil_er" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>

            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive-team" src="img/roi.jpg">

            <h3>Roi Cohen
                <small>Co-CEO</small>
            </h3>
            <p>Roi is 28-year-old, Roi was one of the first creators of this website,He is the chief designer.</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a
                        href="https://www.facebook.com/RoiZundak?__mref=message_bubble" data-toggle="tooltip"
                        data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a
                        href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.linkedin.com%2Fin%2Froi-cohen-99a64396%3Ftrk%3Dhp-identity-name&h=4AQH3Hxcl"
                        data-toggle="tooltip"
                        data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>

            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive-team" src="img/noy.jpg">

            <h3>Noy Barak Gozlan
                <small>Co-CEO</small>
            </h3>
            <p>Noy is 24-year-old,She directed the moves of the meetings, who does what and when. </p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a
                        href="https://www.facebook.com/NoyBarak?fref=ts&__mref=message_bubble" data-toggle="tooltip"
                        data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a
                        href="https://l.facebook.com/l.php?u=https%3A%2F%2Fil.linkedin.com%2Fin%2Fnoy-barak-b11244b0&h=4AQH3Hxcl"
                        data-toggle="tooltip"
                        data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive-team" src="img/moria.jpg">

            <h3>Moria Tuchband
                <small>Co-CEO</small>
            </h3>
            <p>Moria is 27-year-old, Moria was in charge of all the administration of our company.</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/moria.tuchband?fref=ts&__mref=message_bubble" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fil.linkedin.com%2Fin%2Fmoria-tuchband-16702587&h=4AQH3Hxcl" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>

            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive-team" src="img/yuval.jpg">

            <h3>Yuval Tsidkiyahu
                <small>Co-CEO</small>
            </h3>
            <p>Yuval is 26-years-old,Yuval built the first prototype and from there all this project start.</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/yuval.tsidkiyahu?fref=ts&__mref=message_bubble" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fil.linkedin.com%2Fin%2Fyuval-tsidkiyahu-4b7524aa&h=4AQH3Hxcl" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>

            </ul>
        </div>



    </div>
</div>
