<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">FAQ
                <small>Frequently Asked Questions</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../V0.1/#/main">Home</a>
                </li>
                <li class="active">FAQ</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">

            <div class="panel-group" id="accordion">

                <!-- FAQ NUMBER 1 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-target="#collapseOne" data-parent="#accordion"
                               href="javascript:;">
                                What is the ActiveC site?
                            </a>
                        </h4>
                    </div>

                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            This site is a new way to find better candidates to fill in a job position in your company.<br>
                            We offer a simple system in which the students register and fill their skills and career history,<br> We present to you the highest matching students according to your necessary skills for the job position.

                        </div>
                    </div>
                </div>
                <!-- FAQ NUMBER 2 -->
                <div class="panel panel-default ">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo"
                               href="javascript:;">
                               How do i register?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            If you are a Jerusalem based company and you would like to use our awesome services<br> Pleese
                            use one of the many options in the <a href="../V0.1/#/contact">Contact Us</a> page, and ask to be registred.<br>
                            Made in JLM Organization will be happy to provide you our services for FREE :)
                        </div>
                    </div>
                </div>

                <!-- FAQ NUMBER 3 -->
                <div class="panel panel-default ">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree"
                               href="javascript:;">
                                I can't send mail to a student. Why?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                            beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                            lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                            probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>

                <!-- FAQ NUMBER 4 -->
                <div class="panel panel-default ">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour"
                               href="javascript:;">
                                I found a bug/have a request, who do i contact ?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                           You have a two options: <br>
                            1 .   On <a href="../V0.1/#/contact">Contact Us</a> page <br>
                            2 . Open an issue in our <a href="https://github.com/RoiZundak/madeJLM-Company">  github</a> if you dont know how here is a  <a href="https://help.github.com/articles/creating-an-issue">Link</a> to learn how &nbsp&nbsp&nbsp&hearts;
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>

</div>
<!-- /.container -->