<!--****************************************************************************
********************************************************************************
********************************************************************************
***********************Forgot Password Page-HTML********************************
********************************************************************************
********************************************************************************
*****************************************************************************-->

<div id="login_img"></div>

<section class="main-context">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center" >
                <h2 class="mb-40">Forgot Password</h2>
                <form method="post" action="partials/forgot.php" class="login">
                    <div class="form-group" >
                       <input type="email" class="form-control" placeholder="Email" name="email" id="email" required>
                    </div>
                    <input type="text" value="comp" style='display:none;' name ="location">
                        <button type="submit" class="btn btn-block btn-jlm" class="login-button">Send</button>

                </form>
                <p class="forgot-password"><a href="#/login">Back To Login</a></p>
            </div>
        </div>
    </div>
</section>