<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
<!--<div id ="login_container">

    <div id="login_form">
        <br>
        <h3>Login</h3>
        <form class="login"  ng-submit="login()">
            <p>
                <label for="login">Email: </label>
                <input type="text" name="user_name" id="login" ng-model="data.login.Email"   value="Example@example.com" onfocus="if($(this).val()=='Example@example.com')$(this).val('')" onblur="if($(this).val()=='')$(this).val('Example@example.com')">
            </p>

            <p>
                <label for="password">Password: </label>
                <input type="password" name="user_password" id="password" ng-model="data.login.Password" value="688822292" onfocus="if($(this).val()=='688822292')$(this).val('')" onblur="if($(this).val()=='')$(this).val('688822292')">
            </p>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="data.login.auto"> Remember me
                </label>
            </div>

            <p class="login-submit">
                <button type="submit" class="login-button">Login</button>
            </p>

            <p class="forgot-password"><a href="#/forgot">Forgot your password?</a></p>
        </form>
    </div>

</div> -->


<div align="center">
    <div style="width:300px; border: solid 1px #006D9C; " align="left">
        <!--<?php
        if(isset($errMsg)){
            echo '<div style="color:#FF0000;text-align:center;font-size:12px;">'.$errMsg.'</div>';
        }
        ?>-->
        <div style="background-color:#006D9C; color:#FFFFFF; padding:3px;"><b>Login</b></div>
        <div style="margin:30px">
            <form action="login.php" method="post">
                <label>Username  :</label><input type="text" name="username" class="box"/><br /><br />
                <label>Password  :</label><input type="password" name="password" class="box" /><br/><br />
                <input type="submit" name='submit' value="Submit" class='submit'/><br />
            </form>
        </div>
    </div>
</div>