<div id="main_wrap">
    <div id = "filter_main">
        Filter<br>
        <div class="filters">
            Location
        </div>
        <div class="filters">
            Has Facebok
        </div>
        <div class="filters">
            GenderA
        </div>
        <div class="filters">
            Location
        </div>
        <div class="filters">
            Location
        </div>
    </div>
    <div id = "show_std">

    </div>
    <div id = "std_info">
        three
        <?php
echo "<h2>PHP is Fun!</h2>";
        echo "Hello world!<br>";
        echo "I'm about to learn PHP!<br>";
        echo "This ", "string ", "was ", "made ", "with multiple parameters.";
        ?>
    </div>
</div>