<div id="main_wrap">
    <div id = "filter_main">
    Filter<br>
        <div class="filters">
            Location
        </div><br>
        <div class="filters">
            Has Facebok
        </div><br>
        <div class="filters">
            Location
        </div><br>
        <div class="filters">
            Location
        </div><br>
        <div class="filters">
            Location
        </div>
    </div>
    <div id = "show_std">
two
    </div>
    <div id = "std_info">
three
    </div>
</div>