<!-- Page Content -->

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Services
                <small>What We Do</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="main.html">Home</a>
                </li>
                <li class="active">Services</li>
            </ol>
        </div>

    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-lg-12">
            <img class="img-responsive" src="img/logo.png">
        </div>


        <div class="col-md-8">
            <h2 class="page-header">Our Premium Services</h2>

            <p>We are one of kind.</p>
        </div>


    </div>


    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Tabbed Services</h2>
            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#service-one" data-toggle="tab">The Product</a>
                </li>
                <li><a href="#service-two" data-toggle="tab">Registration</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="service-one">
                    <i class="fa fa-gear pull-left fa-4x"></i>

                    <p>The product is an active assignment solution.
                        it's purpose is to improve job-searching for Hi-tech Students and Companies in Jerusalem.
                        The product will work in the Internet environment optimized for all browsers on desktop computers and laptops.
                        Once you are Registered, you will be provided with a link to our app..</p>
                </div>
                <div class="tab-pane fade" id="service-two">
                    <i class="fa fa-gears pull-left fa-4x"></i>

                    <p>
                        Register for the service through MadeInJLM web-site (links below)</br>
                        Ask for Permissions from your Company representative</br>
                        a link to our app will be sent to you</br>
                    </p>

                </div>

            </div>
        </div>

    </div>
    <!-- /.row -->

    <!-- Service Images -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Service Images</h2>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Service One</h3>

            <p>Service one description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis
                nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Service Two</h3>

            <p>Service two description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis
                nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>
    </div>

</div>

