body{
    font-family: "Alef Hebrew",
    “Helvetica Neue”,
    Helvetica,
    Arial,
    sans-serif;
}
#madeinJlm_about_logo{
    width:255px;
    height:255px;
    margin-left: 100px;
}

#activec_about_logo{
    width:380px;
    height:210px;
    margin-left: 85px;
    margin-top: 160px;
}
#login_img{
    background-repeat: no-repeat;
    width:100%;
    background-attachment: fixed;
    background-position: 70% 90%;
    height: 14%;
}
#term{
    overflow: auto;
    overflow-x: hidden;
    text-align: center;

}
#input_div{
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    width: 100%;
}
.img-responsive-team{
    width : 200px;
    height:200px;
}
.img-responsive{
    width : 800px;
    height:250px;

}
#main_wrap{
    height: 600px;
}
#filter_main{
    position: absolute;
    min-height: 10%;
    max-height: 10%;
    width: 100%;
}

.filters{
    float: left;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    height: 30px;
    width:150px;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    transition-property: background, border-radius;
    transition-duration: 300ms;
    transition-timing-function: linear;
    font-size:1.1em;
}
.filters:hover{
    background-color:black;
    color: white;
}

.bubbels{
    float: left;
    height: 35px;
    width:35px;
    cursor: pointer;
    margin-left: 1%;
}
#show_stud {
    float:right;
    opacity: 0.7;
    border-left-style: outset;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 6%;
    min-width: 45%;
    max-width: 45%;
    min-height: 80%;
    max-height: 80%;
    overflow: auto;
    overflow-x: hidden;


}

#show_all {
    float: left;
    opacity: 0.7;
    border-left-style: outset;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 6%;
    min-width: 50%;
    max-width: 50%;
    max-height: 80%;
    min-height: 80%;
    text-align: center;
    overflow: auto;
    margin-left: 1%;
    margin-right: 1%;

}
#form_skills{
    width: 100%;

}


#skill_std{

    position: absolute;
    z-index: 10;
    margin-left: 1%;
    height: auto;
    width: auto;

}


.skillsLabel { display: block; width: 80%; margin-left: 10%;margin-top: 5%}

#skill_input{
    width: 70%;
    height: 30px;
    float: left;
    margin-top: 3%;
    margin-left: 8%;
    background-color: ghostwhite;

}

#bubble{
    float: right;
}

#bubble_buttons{
    float:left;
}
#phone {
    margin-top: 10px;
    margin-right: 20px;
    padding-right: 10px;
    text-align: right;
}


.head{
	display:inline-block;
	width:140px;
	height:140px;
	margin:auto;
	padding:5px;
	cursor:pointer;
	text-align:center;
	font-size:1.1em;
    transition-property: background, border-radius;
    transition-duration: 300ms;
    transition-timing-function: linear;
    border-radius: 2px;
}



.head_image{
    float: left;
	width:120px;
	height:120px;
	margin-left:5px;
    margin-top:5px;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    background-image: url('../img/profilepic.png') ;

}




label {
    color: black;
    font-weight: bold;
    height:15px;
}



.speech {
    float: left;
    margin-right: 50px;
    margin-top: 45px;
    height: 200px;
    text-align: center;
    background-color:white;
    border: 8px solid #666;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;

}


#add_skill{
    height: 30px;
    text-align: center;
    width: 20px;
    background-color: #cecece;
    margin-top: 3%;
    margin-right: 5%;
    float: right;
    border:1px solid #090B29; ;padding: 1px 1px 1px 1px; -webkit-border-radius: 2px; -moz-border-radius: 2px;border-radius: 2px;   display:inline-block;text-shadow: -1px -1px 0 rgba(82,255,255,0.3);font-weight:bold; color: #575757;
    background-color: #f2f9fe; background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f9fe), to(#d6f0fd));
    background-image: -webkit-linear-gradient(top, #f2f9fe, #d6f0fd);
    background-image: -moz-linear-gradient(top, #f2f9fe, #d6f0fd);
    background-image: -ms-linear-gradient(top, #f2f9fe, #d6f0fd);
    background-image: -o-linear-gradient(top, #f2f9fe, #d6f0fd);
    background-image: linear-gradient(to bottom, #f2f9fe, #d6f0fd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2f9fe, endColorstr=#d6f0fd);
}


#add_skill:hover{
    border:2px solid #8589BC;
    background-color: #18AEDB; background-image: -webkit-gradient(linear, left top, left bottom, from(#18AEDB), to(#a5defb));
    background-image: -webkit-linear-gradient(top, #18AEDB, #a5defb);
    background-image: -moz-linear-gradient(top, #18AEDB, #a5defb);
    background-image: -ms-linear-gradient(top, #18AEDB, #a5defb);
    background-image: -o-linear-gradient(top, #18AEDB, #a5defb);
    background-image: linear-gradient(to bottom, #18AEDB, #a5defb);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#18AEDB, endColorstr=#a5defb);
}



table {
    border-collapse: collapse;
    margin-top:2px;
    width: 100%;
    font-size:1.1em;
}

tr {
    border: solid;
    border-width: 1px 0;
    border-color: #CEDFF4;
    height: 40px;

}
.border_bottom{
    height: 50px;

}
td {
    text-align: left;

}

tr:first-child {
    height: 20px;
    border-top: none;
}
tr:last-child {
    border-bottom: none;
}
#sum{
    margin-right: 20px;
    padding-right: 20px;
}
input[type=submit]{

    background-color: #3b5998;
    width:70%;
    margin-left: 5px;
    height: 30px;
    margin-top: 60px;
    margin-bottom: 3%;
    text-align: center;
    font-size: 18px;
    border:1px solid #090B29; ;-webkit-border-radius: 5px; -moz-border-radius: 5px;border-radius: 5px;   display:inline-block;text-shadow: -1px -1px 0 rgba(82,255,255,0.3);font-weight:bold; color: #575757;
    background-color: #f2f9fe; background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f9fe), to(#d6f0fd));
    background-image: -webkit-linear-gradient(top, #f2f9fe, #d6f0fd);
    background-image: -moz-linear-gradient(top, #f2f9fe, #d6f0fd);
    background-image: -ms-linear-gradient(top, #f2f9fe, #d6f0fd);
    background-image: -o-linear-gradient(top, #f2f9fe, #d6f0fd);
    background-image: linear-gradient(to bottom, #f2f9fe, #d6f0fd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2f9fe, endColorstr=#d6f0fd);

}


input[type=submit]:hover{
    border:2px solid #8589BC;
    background-color: #18AEDB; background-image: -webkit-gradient(linear, left top, left bottom, from(#18AEDB), to(#a5defb));
    background-image: -webkit-linear-gradient(top, #18AEDB, #a5defb);
    background-image: -moz-linear-gradient(top, #18AEDB, #a5defb);
    background-image: -ms-linear-gradient(top, #18AEDB, #a5defb);
    background-image: -o-linear-gradient(top, #18AEDB, #a5defb);
    background-image: linear-gradient(to bottom, #18AEDB, #a5defb);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#18AEDB, endColorstr=#a5defb);
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.dropdown {
    cursor:pointer;
}


.img-home-portfolio,
.img-customer,
.portfolio-item {
    margin-bottom: 30px;
}


.tab-pane {
    margin-top: 15px;
}

/* Page Sections */
.section,
.section-colored {
    padding: 50px 0;
}

.section-colored {
    background-color: #e1e1e1;
}

.sidebar {
    margin-top: 40px;
}

.sidebar ul {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
}

.carousel {
    height: 50%;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* Social Icons Styles */
.list-social-icons {
    margin-bottom: 45px;
}

.tooltip-social a {
    text-decoration: none;
    color: inherit;
}

.facebook-link a:hover {
    color: #3b5998;
}

.linkedin-link a:hover{
    color: #007fb1;
}

.twitter-link a:hover {
    color: #39a9e0;
}

.google-plus-link a:hover {
    color: #d14836;
}

/* Service Page Styles */
.service-icon {
    font-size: 50px;
}

/* 404 Page Styles */
.error-404 {
    font-size: 8em;
}

/* Pricing Page Styles */
.price {
    font-size: 4em;
}

.price-cents {
    vertical-align: super;
    font-size: 50%;
}

.price-month {
    font-size: 35%;
    font-style: italic;
}


#login_form{
    background-color:rgba(255,255,255,0.5);
    width:20%;
    height:100%;
    margin:auto;
}

#login_{
    font-weight: bold;

}

.forgot-password > a {
    font-size: small;
    font-weight: bolder;
    color: #303030 ;
}
.login{
    color:black;
    margin-top: 100px;
    margin-left: 30px;
}
 p > input[type="text"]{
    margin-left: 30px;
}
.login-button{
    -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    color:WHITE;
    background-color:#FA2;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:none;
    font-size:16px;
    font-weight:700;
    height:36px;
    padding:4px 16px;
    margin-left: 80px;
}
/* Footer Styles */
.footer {
    margin: 10px 0;
    max-height: 1%;
}

/* Responsive Styles */
@media (max-width: 767px) {

    .carousel {
        height: 70%;
    }
}



#show_student_info{
    border: black solid thin;
}
#re_route{
    margin-top: 20%;
    position: center;
    font-size:2.1em;
}

#mailButton{
    background: #474747;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#474747), to(#444));
    background: -moz-linear-gradient(#474747, #444);
    background: linear-gradient(#474747, #444);
    color: white;
    box-shadow: inset 0 10px 15px 0 #3e3e3e;
}

h3 {
    margin-top: 45px;
    margin-left: 60px;
    text-align: left;
    position: relative;
    left: -60px;

}

#std_table > *{
    border: 1px solid black;
    border-collapse: collapse;
}

/*
/*  Student's side css */
@charset "utf-8";

/* general style */
/*
* {
    border-color: #e1e1e1;
    border-style: solid;
    border-width: 0;
    zoom: 1;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
*/
*:focus {
    outline: none !important;
}
html, body {
    height: 100%;
}
body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    position: relative;
    background: #fff;
    font-size: 17px;
    color: #333;
}
input, button, select, textarea {
    font-family: 'Raleway', sans-serif;
}
a {
    color: #2e5481;
}
a:visited {
    color: #7996b7;
}
a:active {
    color: #000;
}
h1 {font-weight: 200;}
h2, h3, h4 {
    font-weight: 300;
}

/* end general style */

/* end btn-jlm style */
.btn.btn-jlm:visited,
.btn.btn-jlm {
    border-style: solid;
    background-color: transparent;
    -webkit-transition: 0.1s background-color linear, 0.1s color linear;
    -moz-transition: 0.1s background-color linear, 0.1s color linear;
    -o-transition: 0.1s background-color linear, 0.1s color linear;
    transition: 0.1s background-color linear, 0.1s color linear;
    color: #1c1c1c;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-color: #1c1c1c;

    font-size: 18px;
    border-width: 1px;
    padding: 10px 0;
    font-weight: 400;

}
.btn.btn-jlm:hover {
    background: #1c1c1c;
    color: #FFF;
}
.btn-success {background: #54AE54;}
.btn-warning {background: #ED9C2A;}
.btn-default {background: #ECECEC;}

/* end general style */

.btn.btn-jlm-change {

    border-style: solid;
    background-color: transparent;
    -webkit-transition: 0.1s background-color linear, 0.1s color linear;
    -moz-transition: 0.1s background-color linear, 0.1s color linear;
    -o-transition: 0.1s background-color linear, 0.1s color linear;
    transition: 0.1s background-color linear, 0.1s color linear;
    color: #1c1c1c;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-color: #1c1c1c;

    font-size: 18px;
    border-width: 1px;
    padding: 10px 0;
    font-weight: 400;
}

.btn.btn-jlm-change:hover {
    background: #1c1c1c;
    color: #FFF;
}
/* header style */

header #logo {
    display: block;
    width:24%;
    float: left;
}
header #logo img {
    width: 100%;
}
header .header-nav ul {
    width:38%;
    float: left;
}
header .header-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 240px;
}
header .header-nav ul li {
    text-align: left;
    display: inline-block;
    margin-right: 20px;
}
header .header-nav ul.right li {
    text-align: right;
    margin-left: 20px;
}
header .header-nav ul a:visited ,
header .header-nav ul a {
    color: #E2E2E2;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    -ms-transition: 0.3s all;
    transition: 0.3s all;
}
header .header-nav ul a:hover {
    color: #FFF;
    text-decoration: initial;
}
header .header-not-connected {
    text-align: center;
    color: #FFF;
    padding-bottom: 60px;
}
header .header-not-connected h1 {
    font-weight: 100;
    font-size: 86px;
}
header .header-not-connected h2 {
    font-weight: 100;
}

header .header-connected {
    position: relative;
    padding-left: 220px;
}
header .header-connected .student-action {
    float: right;
    margin-right: 35px;
}
header .header-connected .student-action > * {
    float: right;
}
header .header-connected .student-action > .switch {
    margin-right: 20px;
}
header .header-connected .student-action #user-setting {
    color: #FFF;
}
header .header-connected #profileImage {
    position: absolute;
    width: 180px;
    height: 180px;
    left: 15px;
    background: #FFF;
    border: 1px solid #DFDFDF;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
}
header .header-connected #profileImage > img {
    width: 100%;
    display: block
}
header .header-connected #profileImage .hover {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background: rgba(53, 53, 53, 0.4);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}
header .header-connected #profileImage:hover .hover {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
header .header-connected #header-connected-top {
    padding: 31px 0 15px 0;
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
}
header .header-connected #header-connected-top .student-hi {
    font-size: 40px;
    color: #FFF;
}
header .header-connected #header-connected-bottom {
    position: absolute;
    top: 100px;
}
header .header-connected #change-status-btn {
    margin-right: 23px;
    text-shadow: 0px 0px 8px #121212;
    color: #FF8E8E;
}
header .header-connected #change-status-btn.run {
    color: #A9FF8E;
}
.mb-40 {margin-bottom: 40px;}
.form-control {
    padding: 10px 10px;
    height: auto;
    font-size: 17px;
}
select.form-control {
    padding: 11px 10px;
}
/* end header style */

/* main style */
.main-context {
    margin: 60px 0;
}
/* end main style */

/* footer style */
footer {
    background: #26201e;
    color: #FFF;
    padding: 40px 0;
    text-align: center;
}
/* end footer style */

/* profile picture */
.cropArea {
    background: #E4E4E4;
    margin: auto;
    overflow: hidden;
    width:100%;
    height:350px;
}
img-crop {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}
img-crop canvas {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
#profile-picture-result {
    border: 1px solid #E5E5E5;
}
/* end profile picture */


/* start button active style */
.switch {
    background: #DC143C;
    border: 1px solid #dfdfdf;
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    overflow: visible;
    width: 52px;
    height: 30px;
    padding: 0px;
    margin: 4px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
    transition: 0.3s ease-out all;
    -webkit-transition: 0.3s ease-out all;
    top: -1px;
}
/*adding a wide width for larger switch text*/
.switch.wide {
    width:80px;
}
.switch small {
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: 0.3s ease-out all;
    -webkit-transition: 0.3s ease-out all;
}
.switch.checked {
    background: rgb(100, 189, 99);
    border-color: rgb(100, 189, 99);
}
.switch.checked small {
    left: 22px;
}
/*wider switch text moves small further to the right*/
.switch.wide.checked small {
    left:52px;
}
/*styles for switch-text*/
.switch .switch-text {
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
}

.switch .off {
    display:block;
    position: absolute;
    right: 10%;
    z-index: 0;
    color:#A9A9A9;
}

.switch .on {
    display:none;
    z-index: 0;
    color:#fff;
    position: absolute;
    left: 9%;
}

.switch.checked .off {
    display:none;
}

.switch.checked .on {
    display:block;

}

.switch.disabled {
    opacity: .50;
    cursor: not-allowed;
}

/* end button active style */

/* start profile style */

.mt-60 {
    margin-top: 60px;
}
.profileEditFormat {
    padding: 0;
    list-style: none;
}
.profileEditFormat > li:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.profileItemLable {line-height: 46px;text-align: right;cursor: pointer;}
.no-edit-zone {
    padding-left: 11px;
    margin-bottom: 10px;
    cursor: pointer;
}
.no-edit-zone > div {
    line-height: 46px;
}
.no-edit-zone > div:after {
    content: "\00a0";
}
.edit-zone .input-group-btn > .btn {
    padding: 10px 10px;
    font-size: 17px;
}
.edit-zone .input-group-btn > .btn {
    padding: 10px 10px;
    font-size: 17px;
}
.edit-zone .input-group {
    margin-bottom: 10px;
}
.itemInItem {
    margin-bottom: 15px;
}

/* end profile style */

/* skills */
.view-skills span {
    background: #567EC6;
    color: #FFF;
    padding: 5px 15px;
    margin: 5px 5px 5px 0;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}
.view-skills span:hover {
    background: #345B9F;
}
/* end skills */

/* suggest */
.down_footer{
    height: 2%;
}


.ac-container {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    height: 2%;
    z-index: 999;

}
.ac-container .ac-menu {
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    background-color: white;
    box-shadow: 0 3px 7px 0px rgba(0, 0, 0, 0.15);
    margin: 0;
}
.ac-container .ac-menu .ac-menu-item {
    border-bottom: 1px dotted #ccc;
    line-height: 35px;
    margin: 0;
}
.ac-container .ac-menu .ac-menu-item:last-child {
    border-bottom: 0;
}
.ac-container .ac-menu .ac-menu-item:hover {
    background-color: #e0eaff;
}
.ac-container .ac-menu a {
    padding-left: 5px;
    display: block;
    color: inherit;
    text-decoration: none;
}
.ac-container .ac-menu .ac-state-focus {
    outline: none;
    background-color: #e0eaff;
}
.highlight {
    font-weight: 900;
    color: #ED9C2A;
}

#unsupported_browser{
    height: 85%;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("../img/roas.jpg");

    color: #333333;

    margin: .2em 0 .4em 0;



}

#head_line_b{

    line-height: 90%;
    font-family: times, Times New Roman, times-roman, georgia, serif;
    font-size: 75px;
    margin-left: 10%;
    letter-spacing: -2px;
    font-weight: 700;
}
#sec_head_line_b
{
    /*left: -10%;*/
    font: bold 34px "Century Schoolbook", Georgia, Times, serif;
    font-size: 35px;
}



/* end suggest */
