<div class = "search">
	<label>Search users</label>
	<input type = "text" ng-model= "search_question"></input>
	<label>Order by:</label>
	<select ng-model = "order">
		<option value = "name" >name</option>
		<option value = "age" >age</option>
	</select>
</div>
	

<div class="box" ng-repeat="item in users | filter:search_question | orderBy: order" >
        <img ng-src="images/{{ item.image }}" >
        <h3>{{ item.name }}</h3>
        <article>
            <strong>Age: </strong>{{item.age}}
            <br>
            <strong>mail: </strong>{{item.mail}}
			 <br>
			 <strong>phone: </strong>{{item.phone}}
        </article>
</div>

